html, body {
  height: 100%;
}
      
body {
  padding-top: 65px;
  padding-bottom: 10px;
  overflow: hidden;
}

.navbar-nav li {
  margin-right: 5px;
}

.spoiler {
  background-color: #3c3c3c;
  color: #3c3c3c;
}
                
.spoiler:hover {
  background: #3c3c3c;
  color: #888;
}

.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}

#play-volume {
  max-height: 10px;
}

.slider-selection {
  background-image: -webkit-gradient(linear, left 0, left 100%, from(#2a9fd6), to(#2a9fd6));
  background-image: -webkit-linear-gradient(top, #2a9fd6, 0%, #2a9fd6, 100%);
  background-image: -moz-linear-gradient(top, #2a9fd6 0, #2a9fd6 100%);
  background-image: linear-gradient(to bottom, #2a9fd6 0, #2a9fd6 100%);
}

#vk-modal-body {
  margin-top: -20px;
  margin-bottom: -35px;
  margin-left: -5px;
  margin-right: -35px;
}

#vk-modal-content {
  width: 100%;
  height: 500px;
}

.modal-dialog {
  width: 70%;
  height: 90%;
}

.scrollable {
  height: inherit;
  overflow: auto;
}

#vk-search {
    max-width: 60%
}

#sc-modal-body {
  margin-top: -20px;
  margin-bottom: -35px;
  margin-left: -5px;
  margin-right: -35px;
}

#sc-modal-content {
  width: 100%;
  height: 500px;
}

#sc-search {
    max-width: 60%
}
